<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cars List</h1>
  <nav>
    <div class="title-container">Car Spec</div>
    <div class="link-container">
      <a href="/">Home Page</a>
      <a href="/cars/new">Add a Car</a>
    </div>
  </nav>
  <div class="card-container">
    <% cars.forEach(car => { %>
      <a href="/cars/<%= car._id %>">
        <div class="car-card">
          <h2><%= car.make %></h2>
          <img class="car-image" src="<%= car.photo %>" alt="A picture of a cool car">
        </div>
      </a>
    <% }) %>
  </div>
</body>
</html>